body {
    font-family: Helvetica;
    text-align: center;
}

.hero {
  background-image: url("../images/the-flatiron-building.png");
}
h1 {
  font-size: 70px;
  color: white;
}
.hero a {
  font-size: 18px;
  color: white;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 23px;
}
p{
  font-size: 14 px;
}
.newyork{
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
.footer{
  background-color: dimgray;
  color: white;
  font-weight: bold;
  text-align: left;
}
